@model C8.eServices.Mvc.Models.Property


<div class="panel-body">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RatesNumber)
            </dt>

            <dd>
                <b>@Html.DisplayFor(model => model.RatesNumber)</b>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BlockComplex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BlockComplex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StreetSuburb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StreetSuburb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhysicalAddressCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhysicalAddressCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropertyDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyDescription)
            </dd>

            <dt>
                Info Captured
            </dt>
            @if (Model!=null)
            { 
            <dd>
                @Model.PercentageComplete().ToString() % complete.
            </dd>
            }
        </dl>
    </div>
</div>

