@model C8.eServices.Mvc.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBySystemUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBySystemUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBySystemUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBySystemUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNumeric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNumeric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceAlpha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceAlpha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
