
@{
    ViewBag.Title = "AuditTrail";
    Layout = "~/Views/Shared/_LayoutEkurhuleni.cshtml";
}

@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@

@*<link href="~/Content/wayleaveStyles/assets/Content/Timeline.css" rel="stylesheet" />*@
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var userRole = '@Session["ekurhuleniUserRole"]';
        //alert(userRole);
        if (userRole ==="Admin") {
            $.fn.LoadApplicationsAlertsWithCounts("Y");
        }
        else {
            $.fn.LoadApplicationsAlertsWithCounts("N")
        }
        //Init();

        $.fn.showLoader = function () {
            var an = $("#searchKeyword").val();
            var st = $("#status").val();
            if (an != "" && an != undefined)
            {
                $("#isLoading").show();
            }
            if (st != "" && st != undefined) {
                $("#isLoading").show();
            }
        }

        var actionValue = '@ViewBag.applicationStatus';
        var appNo = '@ViewBag.applicationNo';
        
        if (actionValue != "" && actionValue != undefined) {
            $("#status").val(actionValue);
        }
        if (appNo != "" && appNo != undefined) {
            $("#searchKeyword").val(appNo);
        }
    });
</script>
<!------ Include the above in your HEAD tag ---------->
<section class="content" style="padding-right: 0;padding-top:0;margin-top:-10px!important;background-color:#fff!important">
    <div class="container">
        <div style="text-align:center!important"><h4>Audit Trail</h4></div>
        <div class="page-header" style="margin:0px!important">
            <div class="row">
                @using (Html.BeginForm("AuditTrail", "WL", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <table class="table table-striped table-hover tabel-condensed" border="0"
                           style="font-size: 11px;" id="mytable">
                        <thead style="font-size:11px !important;color:#fff !important;margin-bottom: 0;">
                            <tr>
                                <td style="width: 15.5% !important">
                                    @if (ViewBag.applicationNo != null)
                                    {
                                        <h4 class="text-primary">@ViewBag.applicationNo</h4>
                                    }

                                </td>

                                <td colspan="2" style="height: 40px !important; width: 15.5%!important">
                                    <div class="input-group" style="width: 100%;">
                                        <label style="color:#000!important;font-size:10pt!important">Application Number</label>
                                        <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="searchKeyword" placeholder="Application Number" id="searchKeyword">

                                    </div>
                                </td>
                                <td colspan="2" style="width:  15.5%">
                                    <div class="input-group" style="width: 100%">
                                        <label style="color:#000!important;font-size:10pt!important">Status</label>
                                        <select style="border-radius: 4px"
                                                class="form-control" name="status" id="status">
                                            <option value="" selected>Make a selection</option>
                                            <option value="Application Granted">Granted Applications</option>
                                            <option value="Application Rejected">Rejected Applications</option>
                                            <option value="Affected">Affected (All departments)</option>
                                            <option value="Not Affected">Not Affected (All departments)</option>
                                        </select>
                                    </div>
                                </td>
                                <td colspan="2" style="padding-top: 23px !important; height: 40px !important;width: 15.5% !important ">
                                    <button type="submit" class="btn btn-sm btn-green-custom" onclick="$.fn.showLoader()" style="color:#fff!important;height:28px!important">
                                        <i id="isLoading" class="fa fa-spinner fa-spin" style="font-size:9pt;display:none"></i>&nbsp;Search
                                    </button>
                                    <button type="reset" class="btn btn-warning" style="font-size: 12px; width: 70px;height:28px!important" tabindex="20">
                                        Clear
                                    </button>
                                </td>
                                <td style="width: 15.5% !important"></td>
                                <td style="width: 15.5% !important"></td>
<tr>
                        </thead>
                    </table>
                }
            </div>
        </div>

        @*@if (ViewBag.applicationList != null)
            {
                string[] str1;

                // Initialization of array
                str1 = new string[2] { "", "timeline-inverted" };
                int jj = 1;
        <ul class="timeline">
            @foreach (var app in (List<C8.eServices.Mvc.Models.WL_APPLICATIONFORM_AUDIT>)ViewBag.applicationList)
            {
                if (jj % 2 == 0)
                {
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-envelope"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@app.ACTION</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time text-primary"></i> @app.CREATED_DATE</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@app.APPLICATION_STEP_DESCRIPTION</p>

                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@app.ACTION</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time text-primary"></i> @app.CREATED_DATE</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>@app.APPLICATION_STEP_DESCRIPTION</p>
                            </div>
                        </div>
                    </li>
                }

                jj++;

            }
        </ul>
                    }*@

        @if(ViewBag.applicationList != null)
        {
            int jj = 1;
            <table class="table table-bordered table-hover" style="font-size:10pt!important">
                <tr style="background:#00A65A!important;color:#fff!important">
                    <th>S.No</th>
                    <th>Application No</th>
                    <th>Action</th>
                    <th>Step Status</th>
                    <th>User Name</th>
                    <th>Created On</th>
                </tr>
                @foreach (var app in (List<C8.eServices.Mvc.Models.WL_APPLICATIONFORM_AUDIT>)ViewBag.applicationList)
                {
                <tr>
                    <td>@jj</td>
                    <td>@app.APPLICATION_NUMBER</td>
                    <td>@app.ACTION</td>
                    <td>@app.APPLICATION_STEP_DESCRIPTION</td>
                    <td>@app.CREATED_USER</td>
                    <td>@app.CREATED_DATE</td>
                </tr>
                    jj++;
                }
        
            </table>
        }

        @if (ViewBag.errorStatus != null)
        {
            <div style="text-align:center!important;padding-top:10px!important"><b class="text-red">@ViewBag.errorStatus</b></div>
        }

    </div>
    </section>
