
@{
    ViewBag.Title = "UploadSignature";
    Layout = "~/Views/Shared/_LayoutEkurhuleni.cshtml";
}


<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    select {
        vertical-align: top;
        height: 30px;
    }

    input, select {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .badge {
        display: inline-block;
        width: 80px;
        padding: 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }

    .headindg-size {
        margin-left: -26px;
        font-size: 14px;
        padding: 2px;
    }

    span {
        height: 24px !important;
        font-size: 10px !important;
    }

    .panel-default-custom {
        border: 0.5px solid transparent;
    }

        .panel-default-custom > .panel-heading {
            color: #000;
            background-color: #f3f0e1;
            /* border-color: #ddd; */
            border: none;
            border-radius: 0;
            height: 22px;
        }

    .panel-group {
        margin-bottom: 0px;
    }

    role {
        margin-right: 80px;
        margin-left: 20px;
        font-weight: normal;
        float: left;
        margin: 0px;
        margin-top: 8px;
        margin-left: 10px;
        font-size: 11px !important;
    }

    label {
        font-size: 11px;
        padding: 0;
        font-weight: 500;
        padding-left: 3px;
        margin-bottom: -10px;
    }
</style>

<style type="text/css">
    #right-panel {
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select,
        #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }


    #map {
        width: 100%;
        height: 250px;
        margin: 0px !important;
        padding: 0px !important
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }

    .panel {
        height: 100%;
        overflow: auto;
    }

    .errorNew {
        border: 2px solid red !important;
        border-color: red !important;
        color: red !important;
    }

    .panel-default > .panel-heading {
        position: relative;
    }

    /*.panel-heading .fa {
        position: absolute;
        right: 10px;
        top: 13px;
    }*/
</style>


<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        var departmentName = '@Session["ekurhuleniUserDeptName"]';
        var username = '@Session["ekurhuleniUserName"]';
        var userId = '@Session["ekurhuleniUserID"]';
        var userRole = '@Session["ekurhuleniUserRole"]';
        if (departmentName != undefined && departmentName != "") {
            //$.fn.LoadApplicationsDetailsByAppId(applicationId);
            $("#CurrentUserDepartmentName").val(departmentName);
            $("#CurrentUserName").val(username);
            $("#CurrentUserId").val(userId);
            $("#CurrentUserRole").val(userRole);
        }

        //var userRole = '@Session["ekurhuleniUserRole"]';
        //alert(userRole);
        if (userRole ==="Admin") {
            $.fn.LoadApplicationsAlertsWithCounts("Y");
        }
        else {
            $.fn.LoadApplicationsAlertsWithCounts("N")
        }
    });
</script>



<script src="~/Scripts/wayleaveScripts/UploadSignature.js"></script>
<section class="content" style="padding-right: 0;padding-top:0;margin-top:-10px!important;height:290px!important">
    <form name="UploadForm" novalidate>
        <input type="hidden" id="CurrentUserDepartmentName" />
        <input type="hidden" id="CurrentUserName" />
        <input type="hidden" id="CurrentUserId" />
        <input type="hidden" id="CurrentUserRole" />
        <div class="panel-group" style="margin-left: -25px;margin-right: -14px;
        margin-bottom: 3px !important;">
            <div class="panel panel-default" style="border: none !important; height: 300px !important">
                <div class="panel-heading" style="background:#d2930b;padding-top:5px!important">
                    <a class="fa fa-chevron-left pull-left" style="font-size:16pt!important;text-decoration:none!important;color:#fff!important" title="Back to home" href="../WL/Index"></a>
                    <h4 class="panel-title text-center" style="font-size:16pt!important">
                        Upload Signature
                    </h4>
                </div>
                <div style="border:0px solid #b59b5a;">
                    <div class="panel-body" style="padding: 5px!important">

                        <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;margin-top:10px !important" id="accordionSerach">
                            <div class="panel panel-default" style="border:none!important;overflow:hidden">
                                <div id="collapse_search_2" class="panel-collapse collapse in" style="border: 0px solid #b59b5a;">
                                    <div class="panel-body" style="padding: 10px;">
                                        <table width="100%">
                                            <tr>
                                                <td style="width:15.5%"></td>
                                                <td style="width:15.5%" colspan="2">
                                                    <div class="input-group input-label" id="tradeLicenseSection" style="width: 100%">
                                                        <label class="control-label">Upload Signature</label>
                                                        <input type="file" id="signaturefile" style="border-radius: 4px;padding: 3px !important"
                                                               class="form-control" name="signaturefile" />
                                                    </div>
                                                </td>
                                                <td style="width:15.5%"></td>
                                            </tr>
                                            <tr>
                                                <td style="width:15.5%"></td>
                                                <td style="width:15.5%" colspan="2">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Status</label>
                                                        <select style="border-radius: 4px"
                                                                class="form-control" name="IS_ACTIVE" id="IS_ACTIVE" required>
                                                            <option value="" selected>Make a selection</option>
                                                            <option value="Y">Active</option>
                                                            <option value="N">Inactive</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="width:15.5%"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table width="100%">
                            <tr>
                                <td colspan="4" class="text-center">
                                    <button class="btn btn-success" type="button" onclick="$.fn.uploadDepartmentSignature()" style="background-color: #036638 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">

                                        <i id="isAppLoading" class="fa fa-spinner fa-spin" style="display:none!important"></i>
                                        Upload
                                    </button>
                                    <a href="../"><button type="button" class="btn btn-success" style="background-color: #cc0c00 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">Cancel</button></a>
                                </td>
                            </tr>
                        </table>
                        <table width="100%">
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div style="margin-top:20px!important">
                                        @if (ViewBag.signatureList != null)
                                        {
                                            <img class="img img-thumbnail" src="../uploads/@ViewBag.signatureList" width="150" height="150" />
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </form>
    @*}*@
</section>