
@{
    ViewBag.Title = "WayleaveAccountDashboard";
    Layout = "~/Views/Shared/_LayoutEkurhuleni.cshtml";
}


<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    select {
        vertical-align: top;
        height: 30px;
    }

    input, select {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 4px !important
    }

    .badge {
        display: inline-block;
        width: 80px;
        padding: 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }

    .headindg-size {
        margin-left: -26px;
        font-size: 14px;
        padding: 2px;
    }

    span {
        height: 24px !important;
        font-size: 10px !important;
    }

    .panel-default-custom {
        border: 0.5px solid transparent;
    }

        .panel-default-custom > .panel-heading {
            color: #000;
            background-color: #f3f0e1;
            /* border-color: #ddd; */
            border: none;
            border-radius: 0;
            height: 22px;
        }

    .panel-group {
        margin-bottom: 0px;
    }

    role {
        margin-right: 80px;
        margin-left: 20px;
        font-weight: normal;
        float: left;
        margin: 0px;
        margin-top: 8px;
        margin-left: 10px;
        font-size: 11px !important;
    }

    label {
        font-size: 10px;
        padding: 0;
        font-weight: 500;
        padding-left: 3px;
        margin-bottom: -10px;
    }

    /*
    .ng-select .ng-arrow-wrapper .ng-arrow.SRID  {
      display: none !important;
    }
    .ng-select .ng-arrow-wrapper .SRID {
      display: none !important;
    }

    .ng-select span.ng-arrow-wrapper.SRID :before {
      display: none !important;
    } */


    /* Scroll bar custom css */

    /* width */
    /* ::-webkit-scrollbar {
      width: 2px;
    } */

    /* Track */
    /* ::-webkit-scrollbar-track {
      background: #f1f1f1;
    } */

    /* Handle */
    /* ::-webkit-scrollbar-thumb {
      background: #888;
    } */

    /* Handle on hover */
    /* ::-webkit-scrollbar-thumb:hover {
      background: #555;
    } */

</style>
<style>
    .angucomplete-holder {
        position: relative;
        /*  font: 15px Verdana;*/
    }

    .angucomplete-dropdown {
        font: inherit;
        border-color: #ececec;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        /*        width: 300px;*/
        width: 100%;
        padding: 6px;
        cursor: pointer;
        position: absolute;
        z-index: 9999;
        top: 25px;
        left: 0px;
        /*        margin-top: -6px;*/
        background-color: #fff;
        overflow-y: auto;
        max-height: 200px;
    }

    .angucomplete-searching {
        font: inherit;
        font-size: 12px;
        color: #999;
        /*        letter-spacing: 1px;*/
    }

    .angucomplete-row {
        padding: 0px;
        margin-bottom: 4px;
        color: #d2930b;
        clear: both;
        color: #d2930b;
    }

    .angucomplete-selected-row {
        /*        background-color: #428bca;*/
        color: #d2930b;
    }

    .angucomplete-image-holder {
        padding: 2px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
    }

    .angucomplete-image {
        /* height: 34px;
        width: 34px;
        border-radius: 50%;
        border-color: #ececec;
        border-style: solid;
        border-width: 1px;*/
        height: 25px;
    }

    .angucomplete-image-default {
        /* Add your own default image here
     background-image: url('/assets/default.png');
    */
        background-position: center;
        background-size: contain;
        height: 34px;
        width: 34px;
    }
    /*    .form-control {
        outline: 0;
        border-color: #ECECEC;
        border-style: solid;
        border-width: 1px;
        width: 300px;
        background-color: #fff;
        padding: 6px;
        border-radius: 2px;
        margin-bottom: 5px;
        font: inherit;
        font-size: 90%;
    }*/

    .highlight {
        font-weight: bold;
        color: #dc143c;
    }

    #Account_Number_value, #First_Name_value, #Last_Name_value, #MobileAutocomplete_value, #EmailAutocomplete_value {
        border-radius: 4px !important
    }
</style>
<div>
    <section class="content" style="padding-right: 0;padding-top:0;">
        <form name="FilterForm" novalidate>
            <div class="panel-group" style="margin-left: -25px;margin-bottom: 0px;margin-right: -14px;">
                <div class="panel panel-default" style="border: none;">
                    <div class="panel-heading" style="background:#d2930b">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionSerach" href="#collapse_search_1">
                                <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                Search
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_search_1" class="panel-collapse collapse in" style="border: 2px solid #b59b5a;">
                        <div class="panel-body" style="padding: 0;">

                            <table>
                                <tr>
                                    <td style="width:  15.5%">                                        
                                        <label>Account Number</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="Account_Number" placeholder="Account Number" id="Account_Number">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-sort-numeric-asc"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">                                        
                                        <label>Person name</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="First_Name" placeholder="First Name" id="First_Name">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">
                                        <label>Person Surname</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="Last_Name" placeholder="last name" id="Last_Name">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">
                                        <div class="input-group input-label" style="width: 100%">
                                            <label>User Type</label>
                                            <select style="border-radius: 4px" id="userType" 
                                                    class="form-control" name="SeriveType">
                                                <option value="" ng-selected="true">Make a selection</option>
                                                <option value="Contractor">Contractor</option>
                                                <option value="Consultant">Consultant</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">
                                        <label>Company Name</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="companyFullName" placeholder="Company Name" id="companyFullName">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-building"></i>
                                            </span>
                                        </div>                                        
                                    </td>
                                    <td style="width:  15.5%">
                                        <div class="input-group input-label" style="width: 100%">
                                            <label>Status Type</label>
                                            <select style="border-radius: 4px" id="statusId"
                                                    class="form-control" name="AppStatusType">
                                                <option value="" selected>Make a selection</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>                                
                                <tr>
                                    <td style="width:  15.5%">
                                        <label>Email</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="email" placeholder="Email" id="email">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>                                        
                                    </td>
                                    <td style="width:  15.5%">
                                        <label>Mobile</label>
                                        <div class="input-group" style="width: 100%;">
                                            <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="mobileNumber" placeholder="Mobile Number" id="mobileNumber">
                                            <span class="input-group-addon"
                                                  style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                <i class="fa fa-mobile"></i>
                                            </span>
                                        </div>                                        
                                    </td>
                                    <td style="width:  15.5%">
                                        <div class=" input-label-date">
                                            <label>Date Requested From</label>
                                            <div class="input-group" style="width: 100%;">
                                                <input class="form-control" autocomplete="off" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important" name="date_requested_from" placeholder="Date Requested From" datepicker id="date_requested_from">

                                                <span class="input-group-addon"
                                                      style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">
                                        <div class=" input-label-date">
                                            <label>Date Requested To</label>
                                            <div class="input-group" style="width: 100%;">
                                                <input class="form-control" name="date_requested_from" placeholder="Date Requested To" datepicker id="date_requested_to" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important">
                                                <span class="input-group-addon"
                                                      style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%">
                                        <div class=" input-label-date">
                                            <label>Created Date</label>
                                            <div class="input-group" style="width: 100%;">
                                                <input class="form-control" name="created_date" placeholder="Created date" datepicker id="created_date" style=" border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important">
                                                <span class="input-group-addon"
                                                      style="border-top-left-radius: 0;border-bottom-left-radius: 0;padding-bottom: 0;padding-top: 0px;">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:  15.5%;text-align: center;">
                                        <div class="col-md-3" style="margin-top:13px">
                                            <button type="submit" ng-click="filterWayleaveByKeywords(FilterModels)"
                                                    class="btn btn-green-custom" style="height: 24px; padding: 2px; font-size: 12px; width: 100px;color:#fff!important">
                                                @*<i class="fa fa-spinner fa-spin" style="font-size:9pt"></i>*@
                                                Filter
                                            </button>
                                        </div>
                                        <div class="col-md-3" style="margin-top:13px;margin-left:60px;margin-right:45px">
                                            <button type="reset" ng-click=""
                                                    class="btn btn-success" style="height: 24px; padding: 2px; font-size: 12px; width: 100px;"
                                                    tabindex="20">
                                                Clear
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="background-color:white;margin-top:4px">
            <div id="myTabContent" class="tab-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin-bottom: 0;margin-right: -14px;">
                            <table class="table table-striped table-bordered table-hover tabel-condensed"
                                   style="font-size: 11px;">
                                <thead style="background-color:#d2930b !important; font-size:11px !important;color:#fff !important;margin-bottom: 0;">
                                    <tr>
                                        <td style="width:10% !important" ng-click="sort('NAME')"
                                            ng-class="sortClass('NAME')">
                                            <a class="anchor_sorting" href="">
                                                Id
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('NAME')"
                                            ng-class="sortClass('NAME')">
                                            <a class="anchor_sorting" href="">
                                                Account Number
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('NAME')"
                                            ng-class="sortClass('NAME')">
                                            <a class="anchor_sorting" href="">
                                                User Type
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('NAME')"
                                            ng-class="sortClass('NAME')">
                                            <a class="anchor_sorting" href="">
                                                Company Name
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('NAME')"
                                            ng-class="sortClass('NAME')">
                                            <a class="anchor_sorting" href="">
                                                Person Name
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('CREATED_DATE')"
                                            ng-class="sortClass('CREATED_DATE')">
                                            <a class="anchor_sorting" href="">
                                                Email
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:20% !important" ng-click="sort('CREATED_DATE')"
                                            ng-class="sortClass('CREATED_DATE')">
                                            <a class="anchor_sorting" href="">
                                                Address
                                            </a>&nbsp;
                                        </td>

                                        <td style="width:10% !important" ng-click="sort('STATUS')"
                                            ng-class="sortClass('STATUS')">
                                            <a class="anchor_sorting" href="">
                                                Status
                                            </a>&nbsp;
                                        </td>
                                        <td style="width:10% !important" ng-click="sort('CREATED_DATE')"
                                            ng-class="sortClass('CREATED_DATE')">
                                            <a class="anchor_sorting" href="">
                                                Created On
                                            </a>&nbsp;
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="10" style="padding:0">
                                            <div class="panel-group">
                                                <div class="bs-example">
                                                    <div class="panel-group" id="accordionpatient"
                                                         style="background-color: white;">
                                                        @*<i ng-if="accountCounts.length==0" class="fa fa-spinner fa-spin" style="font-size:9pt;color:#cc0c00"></i>*@
                                                        <div class="panel panel-default-custom">
                                                            @foreach (var rc in (List<C8.eServices.Mvc.Models.Mapings.WayleaveAccountDashboardModel>)ViewBag.WayleaveAccountData)
                                                            {
                                                                <div class="panel-heading" style="padding: 4px 14px;" id="panelSection_@rc.id">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                           onclick="addIconCollapse('@rc.name','@rc.id')"
                                                                           data-parent="#accordionpatient"
                                                                           href="#collapse_@rc.id" class="collapsed"
                                                                           aria-expanded="false"
                                                                           onMouseOver="this.style.color='#000'"
                                                                           onMouseOut="this.style.color='#000'">
                                                                            <span class="glyphicon glyphicon-triangle-bottom span-overide"
                                                                                  style="left: -40px;color: #00A65A;"></span><span style="margin-left: -26px;font-size: 14px;padding: 2px;">
                                                                                @rc.name (@rc.count)
                                                                            </span>
                                                                            @if (rc.id == 0)
                                                                            {
                                                                                <i class="fa fa-spinner fa-spin" style="font-size:9pt;color:#cc0c00"></i>
                                                                            }

                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_@rc.id"
                                                                     class="panel-collapse collapse"
                                                                     aria-expanded="false"
                                                                     onMouseOver="this.style.color='#000'"
                                                                     onMouseOut="this.style.color='#000'"
                                                                     style="height: 0px;">
                                                                    <div class="panel-body"
                                                                         style="overflow-y:scroll ;padding: 0;min-height: 20px !important;max-height: 300px !important;">
                                                                        <table class="table table-striped table-hover tabel-condensed">
                                                                            <tbody>
                                                                                @foreach (var app in rc.accountList)
                                                                                {
                                                                                <tr style="border-collapse:collapse;">
                                                                                    <td style="width:13% !important">
                                                                                        <a onclick="goesToWayleaveAccount(@app.account_number)"
                                                                                           style="cursor: pointer;"
                                                                                           class="ggb-a"><u> @app.account_id</u></a>
                                                                                    </td>
                                                                                    <td style="width:15% !important">
                                                                                        @app.account_number
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.account_number
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.userType
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.companyFullName
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.contactPersonName
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.email
                                                                                    </td>
                                                                                    <td style="width:20% !important">
                                                                                        @app.address
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @if (app.status == "Pending")
                                                                                        {
                                                                                            <div style="color:yellow">
                                                                                                @app.status
                                                                                            </div>
                                                                                        }
                                                                                        @if (app.status == "Approved")
                                                                                        {
                                                                                            <div style="color:green">
                                                                                                @app.status
                                                                                            </div>
                                                                                        }
                                                                                        @if (app.status == "Rejected")
                                                                                        {
                                                                                            <div style="color:red">
                                                                                                @app.status
                                                                                            </div>
                                                                                        }                                                                                       
                                                                                    </td>
                                                                                    <td style="width:10% !important">
                                                                                        @app.createdDate
                                                                                    </td>
                                                                                </tr>
                                                                                }

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active in" id="AuditLog">
            </div>
            <div class="tab-pane" id="Documents">
            </div>
            <div class="tab-pane" id="Communication">
            </div>
            <div class="tab-pane" id="CivilLawsuits">
            </div>
            <div class="tab-pane" id="Finding">
            </div>
            <div class="tab-pane" id="Recommendation">
            </div>
            <div class="tab-pane" id="Case">
            </div>
        </div>

    </section>
</div>
