@model C8.eServices.Mvc.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerTypeId, "CustomerTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationTypeId, "IdentificationTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdentificationTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.IdentificationTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryOfIssueTypeId, "CountryOfIssueTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryOfIssueTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.CountryOfIssueTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentificationNumber)
                @Html.ValidationMessageFor(model => model.IdentificationNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TitleTypeId, "TitleTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TitleTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.TitleTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeceased, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeceased)
                @Html.ValidationMessageFor(model => model.IsDeceased)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPhoneNumber)
                @Html.ValidationMessageFor(model => model.WorkPhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhoneNumber)
                @Html.ValidationMessageFor(model => model.HomePhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CellPhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CellPhoneNumber)
                @Html.ValidationMessageFor(model => model.CellPhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddress1)
                @Html.ValidationMessageFor(model => model.PhysicalAddress1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddress2)
                @Html.ValidationMessageFor(model => model.PhysicalAddress2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddress3)
                @Html.ValidationMessageFor(model => model.PhysicalAddress3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddress4)
                @Html.ValidationMessageFor(model => model.PhysicalAddress4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddress5)
                @Html.ValidationMessageFor(model => model.PhysicalAddress5)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddressCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhysicalAddressCode)
                @Html.ValidationMessageFor(model => model.PhysicalAddressCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddress1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddress1)
                @Html.ValidationMessageFor(model => model.PostalAddress1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddress2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddress2)
                @Html.ValidationMessageFor(model => model.PostalAddress2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddress3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddress3)
                @Html.ValidationMessageFor(model => model.PostalAddress3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddress4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddress4)
                @Html.ValidationMessageFor(model => model.PostalAddress4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddress5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddress5)
                @Html.ValidationMessageFor(model => model.PostalAddress5)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalAddressCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalAddressCode)
                @Html.ValidationMessageFor(model => model.PostalAddressCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SystemUserId, "SystemUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SystemUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.SystemUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, "StatusId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLocked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLocked)
                @Html.ValidationMessageFor(model => model.IsLocked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBySystemUserId, "CreatedBySystemUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBySystemUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBySystemUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDateTime)
                @Html.ValidationMessageFor(model => model.CreatedDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBySystemUserId, "ModifiedBySystemUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifiedBySystemUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifiedBySystemUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedDateTime)
                @Html.ValidationMessageFor(model => model.ModifiedDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
