@model C8.eServices.Mvc.Models.IdentificationType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>Create</h4>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

     <div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#applicationCollapse">
                        Identification Type Information
                    </a>
                </h4>
            </div>
            <div id="applicationCollapse" class="panel-collapse collapse in">
                <div class="panel-body">
    
                    @Html.ValidationSummary(true)

                    <div>
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                <span class="sr-only">Success: </span>
                                @TempData["Success"].ToString()

                            </div>
                        }
                    </div>
                    <div>
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error: </span>
                                @TempData["Error"].ToString()
                            </div>
                        }
                    </div>
                    <div>
                        @if (TempData["Info"] != null)
                        {
                            <div class="alert alert-info">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="sr-only">Info: </span>
                                @TempData["Info"].ToString()
                            </div>
                        }
                    </div>
        
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Name,new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Description,new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    @*<div class="form-group">
                    @Html.LabelFor(model => model.Key, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Key)
                        @Html.ValidationMessageFor(model => model.Key)
                    </div>
                </div>*@

                    @* <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsDeleted)
                        @Html.ValidationMessageFor(model => model.IsDeleted)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsLocked, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsLocked)
                        @Html.ValidationMessageFor(model => model.IsLocked)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedBySystemUserId, "CreatedBySystemUserId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CreatedBySystemUserId", String.Empty)
                        @Html.ValidationMessageFor(model => model.CreatedBySystemUserId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedDateTime, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CreatedDateTime)
                        @Html.ValidationMessageFor(model => model.CreatedDateTime)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModifiedBySystemUserId, "ModifiedBySystemUserId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ModifiedBySystemUserId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ModifiedBySystemUserId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModifiedDateTime, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ModifiedDateTime)
                        @Html.ValidationMessageFor(model => model.ModifiedDateTime)
                    </div>
                </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    }

<div>
    @Html.ActionLink("Back to List", "Index",null, new {@class = "btn btn-primary"})
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

