
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/wayleaveScripts/ApplicationFormNew.js?dt=@DateTime.Now.Millisecond"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.0/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@3.0.0/dist/esri-leaflet-vector.js"></script>

    @*<script src="~/Content/wayleaveStyles/assets/Scripts/ScrollBar/main.js"></script>*@
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.0.0/dist/esri-leaflet-geocoder.css" ">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.0.0/dist/esri-leaflet-geocoder.js"></script>

    <style>
        /*#map {
            height: 500px !important;*/
        /*position: absolute !important;*/
        /*width: 100%;
            margin: 0;
            padding: 0;
        }*/

        #search {
            display: block;
            position: absolute;
            z-index: 3;
            top: 20px;
            left: 75px;
        }

        .simpleGeocoder .esriGeocoderIcon {
            float: left;
            outline: 0;
            width: 16px;
            height: 16px;
            display: block;
            overflow: hidden;
            margin: 11px 0 6px 6px;
        }

        .esriPopup .esriPopupWrapper {
            /* box-shadow: 0 0 0.75em #777777; */
            /* -webkit-box-shadow: 0 0 0.75em #777777; */
            border-radius: 5px;
            -webkit-border-radius: 5px;
            height: 100px !important
        }

        .simpleGeocoder .esriGeocoder .esriGeocoderReset {
            margin: 11px 6px 6px 0;
            float: right;
            display: block;
        }

        .spotlight {
            z-index: -1;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            opacity: 0;
            box-shadow: inset rgba(0,0,0,0.25) 0px 0px 20px 20px, rgba(0,0,0,0.25) 0px 0px 0px 1000px;
            transition: all 1000ms;
            -moz-transition: all 1000ms;
            -webkit-transition: all 1000ms;
        }

        .spotlight-active {
            z-index: 2;
            opacity: 1;
        }
    </style>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px !important;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100% !important;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #323232;
        }
    </style>
   
    <script>
        var GlobalSearchResult = "";
        $(document).ready(function () {
            setTimeout(function () {
                getUrlVars();
                var me = getUrlVars()["id"];
                //alert(me);
                GlobalSearchResult = me;
            }, 3000);
            
        });
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
            
        }
        //function BindAddress(val,id) {
        //    //alert(val);
        //    window.parent.document.getElementById(id).value = val;           
        //}

    </script>
</head>
<body>
    <div id="map"></div>   
    <script>

        const apiKey = "AAPKc21c25baaf40479d9bd172699e2e7106yI9AiNPZK1BLrTgv85rEEOHiLzCrFTRtXeJnGtP45V62xfosNU9BaOu-IQJeRtAt";

        const basemapEnum = "ArcGIS:Navigation";

        const map = L.map("map", {
            minZoom: 2

        }).setView([-26.18848, 28.32078], 14); // Sydney

        L.esri.Vector.vectorBasemapLayer(basemapEnum, {
            apiKey: apiKey
        }).addTo(map);
        window.parent.document.getElementById("ShowMapLoader").style.display = "none";
        window.parent.document.getElementById("DivButtonSubmit").style.display = "none";
        
        var searchControl = L.esri.Geocoding.geosearch({
            position: "topright",
            placeholder: "Enter an address or place e.g. 37 Brakpan Rd",
            useMapBounds: false,
            providers: [L.esri.Geocoding.arcgisOnlineProvider({
                apikey: apiKey,
                nearby: {
                    lat: -26.18848,
                    lng: 28.32078
                },
            })]
        }).addTo(map);

        var results = L.layerGroup().addTo(map);

        searchControl.on("results", (data) => {
            console.log("======Results========");
            console.log(data.results[0].text);
            window.parent.document.getElementById("ShowAddressCheckingLoader").style.display = "block";
            //alert(data.results.length);
            //alert(data.results[0].text);
            //alert(GlobalSearchResult);
            //$("#" + GlobalSearchResult).val(data.results[0].text);
            results.clearLayers();
            for (let i = data.results.length - 1; i >= 0; i--) {
                const lngLatString = `${Math.round(data.results[i].latlng.lng * 100000) / 100000}, ${Math.round(data.results[i].latlng.lat * 100000) / 100000}`;
                const marker = L.marker(data.results[i].latlng);
                marker.bindPopup(`<b>${lngLatString}</b><p>${data.results[i].properties.LongLabel}</p>`)
                results.addLayer(marker);
                var lat = data.results[i].latlng.lat;
                var lng = data.results[i].latlng.lng;
                var latilngi = lat + "," + lng;
                //alert(latilngi);
                //debugger;
                var streetnumber = data.results[i].properties.AddNum;
                var streetname = data.results[i].properties.StName;
                var township = data.results[i].properties.District;
                //marker.openPopup();
                //console.log(data.results[i]);
                //debugger;
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAddress", "WayleaveAccount")',
                    data: { latilngi: latilngi},
                    success: function (response) {
                        //debugger;
                        console.log(response);
                        var obj1 = JSON.parse(response);
                        var obj = obj1;
                        window.parent.document.getElementById("DivButtonSubmit").style.display = "block";
                        window.parent.document.getElementById("ShowMapLoader").style.display = "none";
                        window.parent.document.getElementById("ShowAddressCheckingLoader").style.display = "none";
                        if (obj.StreetName != "" || obj.StreetNumber != "" || obj.TownShip != "") {
                            //alert('success');
                            //BindAddress(data.results[0].text, GlobalSearchResult);
                            window.parent.document.getElementById(GlobalSearchResult).value = data.results[0].text;
                            if (GlobalSearchResult == "GPS_START_ADDRESS") {
                                window.parent.document.getElementById("GPS_START_LATITUDE").value = lat;
                                window.parent.document.getElementById("GPS_START_LONGITUDE").value = lng;
                            }
                            if (GlobalSearchResult == "GPS_END_ADDRESS") {
                                window.parent.document.getElementById("GPS_END_LATITUDE").value = lat;
                                window.parent.document.getElementById("GPS_END_LONGITUDE").value = lng;
                            }
                            
                            
                        }
                        else {
                            alert("Please note that the address provided is outside Ekurhuleni.");
                            //parent.genericSystemMessage("Please note that the address provided is outside Ekurhuleni.");
                    }
                }
                });

            }
        });
    </script>
    

</body>


</html>





