@model C8.eServices.Mvc.Models.PropertyAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var propertyId = ViewBag.PropertyAccountId;
}

<h3>Home Owner's Rates Rebate Application for Residential Property</h3>
<hr />
<div style="display: block;">
    <ol class="progtrckr" data-progtrckr-steps="2">
        <li class="progtrckr-done">Principle Owner</li>
        <li class="progtrckr-done">Properties</li>
        <li class="progtrckr-here">Accounts</li>
        <li class="progtrckr-todo">Additional Owners</li>
        <li class="progtrckr-todo">Documents</li>
        <li class="progtrckr-todo">Submit</li>
    </ol>
</div>
<br />
<div class="panel-group" id="instuctions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 id="instructionsTitle" class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseInstructions">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    Instructions
                </a>
            </h4>
        </div>
        <div id="collapseInstructions" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    You are currently at step 2:
                    <ol>
                        <li>Principle Owner - Update information about the principle owner.</li>
                        <li>Properties - Update information about the properties owned by the principle owner.</li>
                        <li><strong>Accounts - Update information about the accounts associated with a property.</strong></li>
                        <li>Additional Owners - Update information about the additional owners of a property.</li>
                        <li>Documents - Upload documents to support and verify your application per property.</li>
                        <li>Submit - Submit your application. You may also add additional properties or edit a property and related infomation.</li>
                    </ol>
                </p>
                <p>
                    You are about to delete an account from your rates rebate application. Please confirm by clicking "Delete" in the "Navigation"
                    panel or click "Cancel" to go back to the accounts listing page.
                </p>
            </div>
        </div>
    </div>
</div>

@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div class="panel-group" id="navigation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNavigation">Navigation
                    </a>
                </h4>
            </div>
            <div id="collapseNavigation" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="col-md-6">
                                @Html.EncodedActionLink( "Cancel", "Index","PropertyAccount", new { propertyId, ratesRebateId = ViewBag.RatesRebateId }, new { @class = "btn btn-primary"} )
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">
                                    <input type="submit" value="Delete" class="btn btn-primary" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="panel-group" id="account">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccount">Are you sure you want to delete this account?
                </a>
            </h4>
        </div>
        <div id="collapseAccount" class="panel-collapse collapse in">
            <div class="panel-body">
                <div>

                    <dl class="dl-horizontal">

                        <dt>@Html.DisplayNameFor( model => model.Property.RatesNumber )</dt>
                        <dd>@Html.DisplayFor( model => model.Property.RatesNumber )</dd>

                        <dt>Account Type</dt>
                        <dd>@Html.DisplayFor( model => model.AccountType.Name )


                        <dt>@Html.DisplayNameFor( model => model.AccountNumber )</dt>
                        <dd>@Html.DisplayFor( model => model.AccountNumber )</dd>

                        <dt>@Html.DisplayNameFor( model => model.BilledFirstName )</dt>
                        <dd>@Html.DisplayFor( model => model.BilledFirstName )</dd>

                        <dt>@Html.DisplayNameFor( model => model.BilledLastName )</dt>
                        <dd>@Html.DisplayFor( model => model.BilledLastName )</dd>

                        <dt>
                            @Html.DisplayNameFor( model => model.BilledIdentificationNumber )
                        </dt>

                        <dd>
                            @Html.DisplayFor( model => model.BilledIdentificationNumber )
                        </dd>


                    </dl>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

    $(function () {
        @*// Displays a triangle to tell users if the panel is collapsable.*@
        $('#instructionsTitle').on("click", function () {
            var span = $('#instructionsTitle').find('span');
            if (span.attr('class') === 'glyphicon glyphicon-triangle-top') {
                span.removeClass('glyphicon-triangle-top');
                span.addClass('glyphicon-triangle-bottom');
            } else {
                span.removeClass('glyphicon-triangle-bottom');
                span.addClass('glyphicon-triangle-top');
            }
        });
    });

    </script>

}