@model IEnumerable<C8.eServices.Mvc.Models.SubSector>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#">
                <span>Sub-Sector Types</span>
            </a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-8" align="left">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <table class="table table-striped" id="table"
               data-toggle="table"
               data-height="500"
               data-search="true"
               data-pagination="true"
               data-page-list="[10,25, 50, 100, ALL]">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.CreatedBySystemUser.FirstName)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.FocusArea.FocusAreaName)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ModifiedBySystemUser.FirstName)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.SubSectorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubSectorDescription)
                    </th>
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FocusArea.FocusAreaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubSectorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubSectorDescription)
                        </td>
                        <td>
                            @Html.EncodedActionLink("Edit", "Edit","SubSector", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.EncodedActionLink("Details", "Details", "SubSector", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.EncodedActionLink("Delete", "Delete", "SubSector", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>